/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	@apply font-sans;
}

/* logo */
.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo {
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	@apply bg-primary;
}
.logo-text {
	font-size: 1.5rem;
	font-weight: 600;
	margin-left: 0.5rem;
	@apply font-sans text-primaryText dark:text-primaryText;
}

/* appliaction */
.app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 1rem 2rem;
}

/* gallery */
.gallery {
	display: flex;
	flex-wrap: wrap;
	/* gap: 1rem; */
	overflow-y: auto;
	height: calc(100vh - 10rem);
	padding: 1rem;
}
/* doc card */
.doc-card {
	width: 180px;
	height: 240px;
	border-radius: 24px;
	margin: 0.5rem;
	@apply bg-level3;
}
.empty-doc-card {
	background-color: transparent !important;
}
.no-documents {
	display: flex;
	flex-direction: column;
	height: 240px;
	justify-content: center;
	margin-left: 4rem;
}
